<div></div>

<style>
  div {
    position: fixed;
    background-image: url('/noise.png');
    background-color: rgba(0, 86, 0, 0.091);
    background-repeat: repeat;
    inset: -50%;
    height: 200vh;
    pointer-events: none;
    width: 200%;
    z-index: 9999;
    animation: noise .2s infinite;
  }

  @keyframes noise {
    0% {
      transform: translate(0);
    }
    10% {
      transform: translate(-5%, -5%);
    }
    20% {
      transform: translate(-10%, 5%);
    }
    30% {
      transform: translate(5%, -10%);
    }
    40% {
      transform: translate(-5%, 15%);
    }
    50% {
      transform: translate(-10%, 5%);
    }
    60% {
      transform: translate(15%);
    }
    70% {
      transform: translate(15%);
    }
    80% {
      transform: translate(10%, 5%);
    }
    90% {
      transform: translate(5%, 10%);
    }
    100% {
      transform: translate(0);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    div {
      animation: none;
      opacity: 0.5 ;
    }
  }
</style>