---
import InstagramIcon from "../icons/instagram.astro"
import XIcon from "../icons/x.astro"
---

<footer class="mt-20 w-full border-primary border-t-2 flex flex-col md:flex-row justify-center items-center md:justify-between pt-6 pb-20 gap-y-10">
  <span class="text-primary text-center">
    © 2026 La velada del Año <span aria-hidden class="hidden md:inline">|</span>
    <br aria-hidden class="block md:hidden"> Todos los derechos reservados.
  </span>
  <ul class="flex gap-x-5 items-center">
    <li>
      <a class="hover:scale-125 hover:opacity-70 inline-block transition"
        href="#" target="_blank" rel="noopener"
      >
        <InstagramIcon />
      </a>
    </li>
    <li>
      <a class="hover:scale-125 hover:opacity-70 inline-block transition"
        href="#" target="_blank" rel="noopener"
      >
        <XIcon />
      </a>
    </li>
  </ul>
</footer>