---
import HeroLogo from "../components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
  <span class="uppercase bg-primary text-secondary text-xl px-4 py-1 mb-9 font-medium">
    Presentacion de
  </span>
  <HeroLogo class="text-primary w-full h-auto md:w-[800px]" />
</section>