---
import HeroLogo from "../components/HeroLogo.astro";
---

<section class="flex flex-col place-items-center gap-4 lg:gap-9">
  <h1 class="sr-only">Presentación de la Velada del Año IV</h1>
  <h2 class="uppercase font-covered text-primary text-3xl -rotate-6">twitch.tv/ibai</h2>
  <div class="relative">
    <img
      class="absolute inset-0 -z-10 m-auto h-auto block w-100 scale-150"
      src="/img/drawn-x-logo.webp" alt="Logo de la Velada del Año IV"
    >
    <div class="absolute inset-0 -z-10 m-auto size-100 rounded-full bg-black opacity-70 blur-xl"></div>
    <HeroLogo class="h-auto w-75 text-primary md:w-125" />
    <HeroLogo class="absolute inset-0 -z-10 h-auto w-75 text-primary blur md:w-125" />
  </div>
</section>