---
import "../styles/global.css"
import '@fontsource-variable/jost'
import NoiseBackground from "../components/NoiseBackground.astro"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Evento de boxeo entre streamers y creadores de contenido" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title></title>
	</head>
	<body>
		<NoiseBackground />
		<div class="mx-auto max-w-6xl px-2 pt-16 md:px-10 md:pt-20">
			<slot />
		</div>
	</body>
</html>